<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>        
    </bean>
    
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>
    
    <bean name="/hello.html" class="com.mtraina.springapp.web.ProductController">
    	<constructor-arg ref="productService"/>
    </bean>
    
    <bean name="/priceincrease.html" class="com.mtraina.springapp.web.PriceIncreaseFormController">
    	<constructor-arg ref="productService"/>
    	
        <property name="sessionForm" value="true"/>
        <property name="commandName" value="priceIncrease"/>
        <property name="commandClass" value="com.mtraina.springapp.dto.PriceIncrease"/>
        <property name="validator">
            <bean class="com.mtraina.springapp.validator.PriceIncreaseValidator"/>
        </property>
        <property name="formView" value="priceincrease"/>
        <property name="successView" value="hello.html"/>
    </bean>
    
    <bean id="productService" class="com.mtraina.springapp.service.ProductServiceImpl">
    	<constructor-arg ref="productDao"/>
    </bean>

	<bean id="productDao" class="com.mtraina.springapp.dao.ProductDaoImpl"/>
</beans>